<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css" type="text/css" />
        <title>Secret Turtles</title>
    </head>
    <body>
        <h1><center>WELCOME!</center></h1>
         <a href="/index">Go to index page</a>
        <h2><em>Good job! You found the turtles</em></h2>
        <form>
            <input type="text" name="nickname" value="Enter your turtle's nickname"/>
            <input type="submit" value="Submit"/>
        </form>
        <br>
        <img src="https://media3.giphy.com/media/jaeVMDfjBqC4hIJ09x/200w.webp?cid=790b76115d371a5a7a78675a2e031184&rid=200w.webp" width=50%/><img src="https://media1.giphy.com/media/Sbdfis90obUQw/200w.webp?cid=790b76115d371a5a7a78675a2e031184&rid=200w.webp" width=50%/>
    </body>
</html>